!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title SB Admin - Dashboard
    / Custom fonts for this template
    %link{:href => "vendor/fontawesome-free/css/all.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Page level plugin CSS
    %link{:href => "vendor/datatables/dataTables.bootstrap4.css", :rel => "stylesheet"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body#page-top
    %nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      %a.navbar-brand.mr-1{:href => "index.html"} Start Bootstrap
      %button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0{:href => "#"}
        %i.fas.fa-bars
      / Navbar Search
      %form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
        .input-group
          %input.form-control{"aria-describedby" => "basic-addon2", "aria-label" => "Search", :placeholder => "Search for...", :type => "text"}/
          .input-group-append
            %button.btn.btn-primary{:type => "button"}
              %i.fas.fa-search
      / Navbar
      %ul.navbar-nav.ml-auto.ml-md-0
        %li.nav-item.dropdown.no-arrow.mx-1
          %a#alertsDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fas.fa-bell.fa-fw
            %span.badge.badge-danger 9+
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "alertsDropdown"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
        %li.nav-item.dropdown.no-arrow.mx-1
          %a#messagesDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fas.fa-envelope.fa-fw
            %span.badge.badge-danger 7
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "messagesDropdown"}
            %a.dropdown-item{:href => "#"} Action
            %a.dropdown-item{:href => "#"} Another action
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
        %li.nav-item.dropdown.no-arrow
          %a#userDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fas.fa-user-circle.fa-fw
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "userDropdown"}
            %a.dropdown-item{:href => "#"} Settings
            %a.dropdown-item{:href => "#"} Activity Log
            .dropdown-divider
            %a.dropdown-item{"data-target" => "#logoutModal", "data-toggle" => "modal", :href => "#"} Logout
    #wrapper
      / Sidebar
      %ul.sidebar.navbar-nav
        %li.nav-item.active
          %a.nav-link{:href => "index.html"}
            %i.fas.fa-fw.fa-tachometer-alt
            %span Dashboard
        %li.nav-item.dropdown
          %a#pagesDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            %i.fas.fa-fw.fa-folder
            %span Pages
          .dropdown-menu{"aria-labelledby" => "pagesDropdown"}
            %h6.dropdown-header Login Screens:
            %a.dropdown-item{:href => "login.html"} Login
            %a.dropdown-item{:href => "register.html"} Register
            %a.dropdown-item{:href => "forgot-password.html"} Forgot Password
            .dropdown-divider
            %h6.dropdown-header Other Pages:
            %a.dropdown-item{:href => "404.html"} 404 Page
            %a.dropdown-item{:href => "blank.html"} Blank Page
        %li.nav-item
          %a.nav-link{:href => "charts.html"}
            %i.fas.fa-fw.fa-chart-area
            %span Charts
        %li.nav-item
          %a.nav-link{:href => "tables.html"}
            %i.fas.fa-fw.fa-table
            %span Tables
      #content-wrapper
        .container-fluid
          / Breadcrumbs
          %ol.breadcrumb
            %li.breadcrumb-item
              %a{:href => "#"} Dashboard
            %li.breadcrumb-item.active Overview
          / Icon Cards
          .row
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-primary.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-comments
                  .mr-5 26 New Messages!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-warning.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-list
                  .mr-5 11 New Tasks!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-success.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-shopping-cart
                  .mr-5 123 New Orders!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
            .col-xl-3.col-sm-6.mb-3
              .card.text-white.bg-danger.o-hidden.h-100
                .card-body
                  .card-body-icon
                    %i.fas.fa-fw.fa-life-ring
                  .mr-5 13 New Tickets!
                %a.card-footer.text-white.clearfix.small.z-1{:href => "#"}
                  %span.float-left View Details
                  %span.float-right
                    %i.fas.fa-angle-right
          / Area Chart Example
          .card.mb-3
            .card-header
              %i.fas.fa-chart-area
              Area Chart Example
            .card-body
              %canvas#myAreaChart{:height => "30", :width => "100%"}
            .card-footer.small.text-muted Updated yesterday at 11:59 PM
          / DataTables Example
          .card.mb-3
            .card-header
              %i.fas.fa-table
              Data Table Example
            .card-body
              .table-responsive
                %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
                  %thead
                    %tr
                      %th Name
                      %th Position
                      %th Office
                      %th Age
                      %th Start date
                      %th Salary
                  %tfoot
                    %tr
                      %th Name
                      %th Position
                      %th Office
                      %th Age
                      %th Start date
                      %th Salary
                  %tbody
                    %tr
                      %td Tiger Nixon
                      %td System Architect
                      %td Edinburgh
                      %td 61
                      %td 2011/04/25
                      %td $320,800
                    %tr
                      %td Garrett Winters
                      %td Accountant
                      %td Tokyo
                      %td 63
                      %td 2011/07/25
                      %td $170,750
                    %tr
                      %td Ashton Cox
                      %td Junior Technical Author
                      %td San Francisco
                      %td 66
                      %td 2009/01/12
                      %td $86,000
                    %tr
                      %td Cedric Kelly
                      %td Senior Javascript Developer
                      %td Edinburgh
                      %td 22
                      %td 2012/03/29
                      %td $433,060
                    %tr
                      %td Airi Satou
                      %td Accountant
                      %td Tokyo
                      %td 33
                      %td 2008/11/28
                      %td $162,700
                    %tr
                      %td Brielle Williamson
                      %td Integration Specialist
                      %td New York
                      %td 61
                      %td 2012/12/02
                      %td $372,000
                    %tr
                      %td Herrod Chandler
                      %td Sales Assistant
                      %td San Francisco
                      %td 59
                      %td 2012/08/06
                      %td $137,500
                    %tr
                      %td Rhona Davidson
                      %td Integration Specialist
                      %td Tokyo
                      %td 55
                      %td 2010/10/14
                      %td $327,900
                    %tr
                      %td Colleen Hurst
                      %td Javascript Developer
                      %td San Francisco
                      %td 39
                      %td 2009/09/15
                      %td $205,500
                    %tr
                      %td Sonya Frost
                      %td Software Engineer
                      %td Edinburgh
                      %td 23
                      %td 2008/12/13
                      %td $103,600
                    %tr
                      %td Jena Gaines
                      %td Office Manager
                      %td London
                      %td 30
                      %td 2008/12/19
                      %td $90,560
                    %tr
                      %td Quinn Flynn
                      %td Support Lead
                      %td Edinburgh
                      %td 22
                      %td 2013/03/03
                      %td $342,000
                    %tr
                      %td Charde Marshall
                      %td Regional Director
                      %td San Francisco
                      %td 36
                      %td 2008/10/16
                      %td $470,600
                    %tr
                      %td Haley Kennedy
                      %td Senior Marketing Designer
                      %td London
                      %td 43
                      %td 2012/12/18
                      %td $313,500
                    %tr
                      %td Tatyana Fitzpatrick
                      %td Regional Director
                      %td London
                      %td 19
                      %td 2010/03/17
                      %td $385,750
                    %tr
                      %td Michael Silva
                      %td Marketing Designer
                      %td London
                      %td 66
                      %td 2012/11/27
                      %td $198,500
                    %tr
                      %td Paul Byrd
                      %td Chief Financial Officer (CFO)
                      %td New York
                      %td 64
                      %td 2010/06/09
                      %td $725,000
                    %tr
                      %td Gloria Little
                      %td Systems Administrator
                      %td New York
                      %td 59
                      %td 2009/04/10
                      %td $237,500
                    %tr
                      %td Bradley Greer
                      %td Software Engineer
                      %td London
                      %td 41
                      %td 2012/10/13
                      %td $132,000
                    %tr
                      %td Dai Rios
                      %td Personnel Lead
                      %td Edinburgh
                      %td 35
                      %td 2012/09/26
                      %td $217,500
                    %tr
                      %td Jenette Caldwell
                      %td Development Lead
                      %td New York
                      %td 30
                      %td 2011/09/03
                      %td $345,000
                    %tr
                      %td Yuri Berry
                      %td Chief Marketing Officer (CMO)
                      %td New York
                      %td 40
                      %td 2009/06/25
                      %td $675,000
                    %tr
                      %td Caesar Vance
                      %td Pre-Sales Support
                      %td New York
                      %td 21
                      %td 2011/12/12
                      %td $106,450
                    %tr
                      %td Doris Wilder
                      %td Sales Assistant
                      %td Sidney
                      %td 23
                      %td 2010/09/20
                      %td $85,600
                    %tr
                      %td Angelica Ramos
                      %td Chief Executive Officer (CEO)
                      %td London
                      %td 47
                      %td 2009/10/09
                      %td $1,200,000
                    %tr
                      %td Gavin Joyce
                      %td Developer
                      %td Edinburgh
                      %td 42
                      %td 2010/12/22
                      %td $92,575
                    %tr
                      %td Jennifer Chang
                      %td Regional Director
                      %td Singapore
                      %td 28
                      %td 2010/11/14
                      %td $357,650
                    %tr
                      %td Brenden Wagner
                      %td Software Engineer
                      %td San Francisco
                      %td 28
                      %td 2011/06/07
                      %td $206,850
                    %tr
                      %td Fiona Green
                      %td Chief Operating Officer (COO)
                      %td San Francisco
                      %td 48
                      %td 2010/03/11
                      %td $850,000
                    %tr
                      %td Shou Itou
                      %td Regional Marketing
                      %td Tokyo
                      %td 20
                      %td 2011/08/14
                      %td $163,000
                    %tr
                      %td Michelle House
                      %td Integration Specialist
                      %td Sidney
                      %td 37
                      %td 2011/06/02
                      %td $95,400
                    %tr
                      %td Suki Burks
                      %td Developer
                      %td London
                      %td 53
                      %td 2009/10/22
                      %td $114,500
                    %tr
                      %td Prescott Bartlett
                      %td Technical Author
                      %td London
                      %td 27
                      %td 2011/05/07
                      %td $145,000
                    %tr
                      %td Gavin Cortez
                      %td Team Leader
                      %td San Francisco
                      %td 22
                      %td 2008/10/26
                      %td $235,500
                    %tr
                      %td Martena Mccray
                      %td Post-Sales support
                      %td Edinburgh
                      %td 46
                      %td 2011/03/09
                      %td $324,050
                    %tr
                      %td Unity Butler
                      %td Marketing Designer
                      %td San Francisco
                      %td 47
                      %td 2009/12/09
                      %td $85,675
                    %tr
                      %td Howard Hatfield
                      %td Office Manager
                      %td San Francisco
                      %td 51
                      %td 2008/12/16
                      %td $164,500
                    %tr
                      %td Hope Fuentes
                      %td Secretary
                      %td San Francisco
                      %td 41
                      %td 2010/02/12
                      %td $109,850
                    %tr
                      %td Vivian Harrell
                      %td Financial Controller
                      %td San Francisco
                      %td 62
                      %td 2009/02/14
                      %td $452,500
                    %tr
                      %td Timothy Mooney
                      %td Office Manager
                      %td London
                      %td 37
                      %td 2008/12/11
                      %td $136,200
                    %tr
                      %td Jackson Bradshaw
                      %td Director
                      %td New York
                      %td 65
                      %td 2008/09/26
                      %td $645,750
                    %tr
                      %td Olivia Liang
                      %td Support Engineer
                      %td Singapore
                      %td 64
                      %td 2011/02/03
                      %td $234,500
                    %tr
                      %td Bruno Nash
                      %td Software Engineer
                      %td London
                      %td 38
                      %td 2011/05/03
                      %td $163,500
                    %tr
                      %td Sakura Yamamoto
                      %td Support Engineer
                      %td Tokyo
                      %td 37
                      %td 2009/08/19
                      %td $139,575
                    %tr
                      %td Thor Walton
                      %td Developer
                      %td New York
                      %td 61
                      %td 2013/08/11
                      %td $98,540
                    %tr
                      %td Finn Camacho
                      %td Support Engineer
                      %td San Francisco
                      %td 47
                      %td 2009/07/07
                      %td $87,500
                    %tr
                      %td Serge Baldwin
                      %td Data Coordinator
                      %td Singapore
                      %td 64
                      %td 2012/04/09
                      %td $138,575
                    %tr
                      %td Zenaida Frank
                      %td Software Engineer
                      %td New York
                      %td 63
                      %td 2010/01/04
                      %td $125,250
                    %tr
                      %td Zorita Serrano
                      %td Software Engineer
                      %td San Francisco
                      %td 56
                      %td 2012/06/01
                      %td $115,000
                    %tr
                      %td Jennifer Acosta
                      %td Junior Javascript Developer
                      %td Edinburgh
                      %td 43
                      %td 2013/02/01
                      %td $75,650
                    %tr
                      %td Cara Stevens
                      %td Sales Assistant
                      %td New York
                      %td 46
                      %td 2011/12/06
                      %td $145,600
                    %tr
                      %td Hermione Butler
                      %td Regional Director
                      %td London
                      %td 47
                      %td 2011/03/21
                      %td $356,250
                    %tr
                      %td Lael Greer
                      %td Systems Administrator
                      %td London
                      %td 21
                      %td 2009/02/27
                      %td $103,500
                    %tr
                      %td Jonas Alexander
                      %td Developer
                      %td San Francisco
                      %td 30
                      %td 2010/07/14
                      %td $86,500
                    %tr
                      %td Shad Decker
                      %td Regional Director
                      %td Edinburgh
                      %td 51
                      %td 2008/11/13
                      %td $183,000
                    %tr
                      %td Michael Bruce
                      %td Javascript Developer
                      %td Singapore
                      %td 29
                      %td 2011/06/27
                      %td $183,000
                    %tr
                      %td Donna Snider
                      %td Customer Support
                      %td New York
                      %td 27
                      %td 2011/01/25
                      %td $112,000
            .card-footer.small.text-muted Updated yesterday at 11:59 PM
        / /.container-fluid
        / Sticky Footer
        %footer.sticky-footer
          .container.my-auto
            .copyright.text-center.my-auto
              %span Copyright © Your Website 2019
      / /.content-wrapper
    / /#wrapper
    / Scroll to Top Button
    %a.scroll-to-top.rounded{:href => "#page-top"}
      %i.fas.fa-angle-up
    / Logout Modal
    #logoutModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog{:role => "document"}
        .modal-content
          .modal-header
            %h5#exampleModalLabel.modal-title Ready to Leave?
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
          .modal-body Select "Logout" below if you are ready to end your current session.
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
            %a.btn.btn-primary{:href => "login.html"} Logout
    / Bootstrap core JavaScript
    %script{:src => "vendor/jquery/jquery.min.js"}
    %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
    / Core plugin JavaScript
    %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
    / Page level plugin JavaScript
    %script{:src => "vendor/chart.js/Chart.min.js"}
    %script{:src => "vendor/datatables/jquery.dataTables.js"}
    %script{:src => "vendor/datatables/dataTables.bootstrap4.js"}
    / Custom scripts for all pages
    %script{:src => "js/sb-admin.min.js"}
    / Demo scripts for this page
    %script{:src => "js/demo/datatables-demo.js"}
    %script{:src => "js/demo/chart-area-demo.js"}
